/* variables */

$key-background-color: black;
$key-border-color: silver;
$key-text-color: white;
$play-again-button-color: lawngreen;

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background: #efefef;
    padding: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.letter-.letter-buttons {
    margin-bottom: 15px;
}

.word {
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.win-status {
    margin-bottom: 15px;
}

.sr-only {
    color: rgba(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* letter buttons */

.letter-button {
    border-radius: 50%;
    background: $key-background-color;
    border: 3px $key-border-color solid;
    width: 40px;
    height: 40px;
    color: $key-text-color;
    font-family: inherit;
    font-weight: bold;
    margin: 3px;
}

.letter-button:hover:not(:disabled) {
    background: scale-color($color: $key-background-color, $lightness: 25%);
    border-color: scale-color($color: $key-border-color, $lightness: 25%);
}

.letter-button:disabled {
    background: scale-color($color: $key-background-color, $lightness: 50%);
    color: $key-border-color;
}

/* other interactive features */

.play-again-button {
    background: $play-again-button-color;
    font-family: inherit;
    border: 1px scale-color($color: $play-again-button-color, $lightness: -30%) solid;
    padding: 5px 10px;
}

.play-again-button:hover {
    background: scale-color($color: $play-again-button-color, $lightness: 50%);
    border-color: scale-color($color: $play-again-button-color, $lightness: -10%);
}

/* hangman parts */

.hangman-part {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%) 
}

.head {
    z-index: 4;
}

.noose {
    z-index: 3;
    filter: drop-shadow(0 0 7px lime);
}

.left-arm, .left-leg, .right-leg {
    z-index: 2;
}

.body {
    z-index: 1;
}

.right-arm {
    z-index: 0;
}