/* variables */

$key-background-color: black;
$key-border-color: silver;
$key-text-color: white;
$play-again-button-color: lawngreen;
$settings-color: #1255BB;

/* mixins */

@mixin text-outline($width, $color) {
    filter: drop-shadow((-$width) (-$width) 0 $color) drop-shadow(($width) (-$width) 0 $color) drop-shadow((-$width) ($width) 0 $color) drop-shadow(($width) ($width) 0 $color);
}

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background: #efefef;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
    @include text-outline(1px, #000);
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 800;
    div {
        display: inline-flex;
        align-items: center;
        background: linear-gradient(to bottom, #ec9928, #fcf134);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    span {
        font-size: 2.5rem;
    }
}

main {
    position: relative;
}

.game {
    padding: 10px;
}

.letter-.letter-buttons {
    margin-bottom: 15px;
}

.word {
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.win-status {
    margin-bottom: 15px;
}

.not-guessed {
    color: #f00;
}

.sr-only {
    color: rgba(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

/* letter buttons */

.letter-button {
    border-radius: 50%;
    background: $key-background-color;
    border: 3px $key-border-color solid;
    width: 40px;
    height: 40px;
    color: $key-text-color;
    font-family: inherit;
    font-weight: bold;
    margin: 3px;
}

.letter-button:hover:not(:disabled) {
    background: scale-color($color: $key-background-color, $lightness: 25%);
    border-color: scale-color($color: $key-border-color, $lightness: 25%);
}

.letter-button:disabled {
    background: scale-color($color: $key-background-color, $lightness: 50%);
    color: $key-border-color;
}

/* other interactive features */

.play-again-button {
    background: $play-again-button-color;
    font-family: inherit;
    border: 1px scale-color($color: $play-again-button-color, $lightness: -30%) solid;
    padding: 5px 10px;
}

.play-again-button:hover, .play-again-button:focus {
    background: scale-color($color: $play-again-button-color, $lightness: 50%);
    border-color: scale-color($color: $play-again-button-color, $lightness: -10%);
}

/* settings */

.settings-button {
    position: absolute;
    left: 0;
    top: 0;
    background: $settings-color;
    color: #fff;
    border-radius: 0;
    border-bottom-right-radius: 1em;
    border: 2px #fff;
    padding: 10px;
    font-family: inherit;
    font-size: 1.1em;
    transition: padding .15s;
}

.settings-button:hover {
    padding-top: 14px;
    padding-left: 14px;
}

.settings {
    background: $settings-color;
    color: #fff;
    text-align: left;
    padding: 10px;
    p {
        margin-top: .5em;
        font-size: .9em;
    }
    label {
        display: inline-block;
        margin-right: 2em;
    }
}

@media screen and (min-width: 768px) {
    .settings-item {
        display: inline-block;
    }
}

/* hangman parts */

.hangman-part {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%) 
}

.speech-bubble {
    z-index: 5;
}

.head {
    z-index: 4;
}

.noose {
    z-index: 3;
    filter: drop-shadow(0 0 7px lime);
}

.left-arm, .left-leg, .right-leg {
    z-index: 2;
}

.body {
    z-index: 1;
}

.right-arm {
    z-index: 0;
}