<!DOCTYPE html>
<html lang="en">
<head>
	<title>Superman Hangman</title>
	<meta charset="utf-8">
    <meta name="viewport" width="device-width">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">

        <div class="letter-buttons" v-if="gameRunning">

            <button v-on:click="guessLetter('a')" id="a">A</button>
            <button v-on:click="guessLetter('b')" id="b">B</button>
            <button v-on:click="guessLetter('c')" id="c">C</button>
            <button v-on:click="guessLetter('d')" id="d">D</button>
            <button v-on:click="guessLetter('e')" id="e">E</button>
            <button v-on:click="guessLetter('f')" id="f">F</button>
            <button v-on:click="guessLetter('g')" id="g">G</button>
            <button v-on:click="guessLetter('h')" id="h">H</button>
            <button v-on:click="guessLetter('i')" id="i">I</button>
            <button v-on:click="guessLetter('j')" id="j">J</button>
            <button v-on:click="guessLetter('k')" id="k">K</button>
            <button v-on:click="guessLetter('l')" id="l">L</button>
            <button v-on:click="guessLetter('m')" id="m">M</button>
            <button v-on:click="guessLetter('n')" id="n">N</button>
            <button v-on:click="guessLetter('o')" id="o">O</button>
            <button v-on:click="guessLetter('p')" id="p">P</button>
            <button v-on:click="guessLetter('q')" id="q">Q</button>
            <button v-on:click="guessLetter('r')" id="r">R</button>
            <button v-on:click="guessLetter('s')" id="s">S</button>
            <button v-on:click="guessLetter('t')" id="t">T</button>
            <button v-on:click="guessLetter('u')" id="u">U</button>
            <button v-on:click="guessLetter('v')" id="v">V</button>
            <button v-on:click="guessLetter('w')" id="w">W</button>
            <button v-on:click="guessLetter('x')" id="x">X</button>
            <button v-on:click="guessLetter('y')" id="y">Y</button>
            <button v-on:click="guessLetter('z')" id="z">Z</button>

        </div>

        <div class="word">
            {{ wordWithBlanksCurrent }}
        </div>

        <div class="win-status">
            {{ winStatus }}
        </div>

        <div class="hangman-image">
            <img src="images/0-noose.png" alt="Noose made of kryptonite" class="hangman-part noose">
            <img src="images/1-head.png" alt="Superman's head" class="hangman-part head" v-if="incorrectGuesses >= 1">
            <img src="images/2-body.png" alt="Superman's body" class="hangman-part body" v-if="incorrectGuesses >= 2">
            <img src="images/3-leftarm.png" alt="Superman's left arm" class="hangman-part left-arm" v-if="incorrectGuesses >= 3">
            <img src="images/4-rightarm.png" alt="Superman's right arm" class="hangman-part right-arm" v-if="incorrectGuesses >= 4">
            <img src="images/5-leftleg.png" alt="Superman's left leg" class="hangman-part left-leg" v-if="incorrectGuesses >= 5">
            <img src="images/6-rightleg.png" alt="Superman's right leg" class="hangman-part right-leg" v-if="incorrectGuesses >= 6">
        </div>

        <div class="sr-only">
            Incorrect Guesses: {{ incorrectGuesses }}
        </div>

    </div>
    
    <script src="js/scripts.js"></script>
</body>
</html>